.profile-container {
  display: flex;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
}

.profile-box {
  border: 1px solid red;
  width: 50%;
  overflow-y: scroll;
}

.profile-box::-webkit-scrollbar {
  width: 0; /* For vertical scrollbar */
  height: 0; /* For horizontal scrollbar */
  background-color: transparent;
}

.profile-box {
  scrollbar-width: none;
}

.profile-suggestions {
  width: 25%;
  border: 1px solid goldenrod;
}

.profile-head {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px 10px;
}

.left-myprofile {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-myprofile img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.left-myprofile span {
  margin-top: 7px;
  font-family: "Nunito", sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.right-profile {
  width: 60%;
}

.my-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
  margin: 0px 5px;
}

.my-info h2 {
  color: rgba(0, 0, 0, 0.797);
  font-size: 20px;
  font-weight: 600;
}

.profile-editbtn {
  background-color: rgb(0, 139, 0);
  color: white;
  padding: 4px 20px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 13px;
  outline: none;
  border: none;
  cursor: pointer;
}

.profile-editbtn span {
  margin-right: 4px;
  margin-top: 2px;
}

.connections-info {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.connections-info button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px 10px;
  font-family: "Nunito", sans-serif;
  border: none;
  outline: none;
  border-radius: 5px;
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
}

.prfile-mid {
  margin-top: 15px;
  padding: 10px 5px;
}

.prfile-mid a {
  text-decoration: none;
  margin-left: 0px;
}
