@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600&family=Poppins:wght@300;400;500&family=Roboto:wght@300;400&display=swap");

/* font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eeeeee;
}
